html {
    height: 100%;
    background: #0f1322;
    background: -webkit-linear-gradient(#0f1322, #441a22);
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 622px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    font-family: 'Raleway', sans-serif;
    color: #dedede;
}

a {
    color: white;
}

.block1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
    text-shadow: 0px 4px #000000;
}

.block2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    
    font-size: 19px;
    margin-top: 20px;
    text-align: center;
    
    border-style: solid;
    border-width: 1px;
    border-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.block4{
 text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 0px;
    
    line-height: 40px;
}

li {
    display: inline;
    vertical-align:middle;
    margin: 2px;
}

.social{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    
    font-size: 19px;
    margin-top: 20px;
    text-align: center;
    
}

#socialicon{
    vertical-align:middle;
    padding: 5px;
}

.block3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    
    font-size: 19px;
    margin-top: 20px;
    text-align: center;

}

form {
     background: transparent;
}

#mc_embed_signup{
    margin-top: 20px;
    clear:left;
    width:500px;
}